{% extends 'base.html.twig' %}

{% block body %}
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
            {% for news in allnews %}
                <div class="col-lg-4">
                    <img class="rounded-circle" src="{{ news.image }}" alt="Tutorial" width="140" height="140">
                    <h2>{{ news.title }}</h2>
                    <p>{{ news.content }}</p>
                </div><!-- /.col-lg-4 -->
            {% endfor %}
         </div><!-- /.row -->
    </div>

{% endblock %}
