{% extends 'base.html.twig' %}

{% block body %}
<div class="container marketing">
    <p>
    Rules on the Epoch server are enforced by the Admins to the best of their Abiltity.
    Any player caught breaking the rules may be Banned for a period of time depending on the sevarrity of the players actions.
    Anyone caught Hacking or Cheating will have a Perminent Ban.
    These rules are here so everyone can enjoy their time on the server.



    1. No Hacking or Cheating.
    2. No Glitching into Player Bases.
    3. No Using Bug Exploits to get into Player Bases.
    4. No Talking in Side Chat.
    5. No Insults or Racist Remarks.
    6. No Building in Cities or on roads (unless Admin Approved).
    7. No Building in Airfields, Novy Sobor or Static Ai Bases (including safes) or 1000m from an Ai Fortress.
    8. Bases should be at least 300m apart and 600m from Dishina, Bor and Black Forest Camps.
    9. No Base Height limit but Must touch the ground OR an Arma2 Building - No Sky Bases.
    10. No Stealing Vehicles, Gear or Packing players mozzies etc in Safezones.
    11. No Blocking Trade Areas - Your vehicle will be deleted.
    12. No Placing Safes in any Safezones or outside of Bases - if found it will be deleted.
    13. If you leave a vehicle in a Safezone it will be moved to Balota on Server Restart.
    14. No Camping from the Safezones Areas -  If you leave the safezone and you enter combat, you   CANNOT go back into the safezone.

    15. English in sidechat please.
    16. Be respectful to Server and Admins. If you have an issue with an admin report it to support.
    17. No Stealing player Plotpoles or Bases.
    18. No Attacking Player bases with any Mission/Super Trader type Gunships, Planes or Tanks.
    19. No Crying in sidechat please.
    20. No taking gear from a hacker.
    21. No Duping.
    22. No Combat Logging.
    23. Names must be suitable ( ie not curse words , all spaces ).
    24. No Suicide Mozzies (into Bases or Vehicles).

    If you suspect someone one of breaking the rules tell an Admin either in game or on teamspeak.

    The Debug monitor can be turned on/off using F11
    Earplugs can be turned on/off using F1

    New Players can get a Starter kit (Some building Supplies), find a place to build and ask an Admin for a starter box.

    Server has its own Teamspeak3 server which is free for all players to use - if you have a Team playing on the server see an Admin about getting your own personal Passworded Team Channel
   </p>
</div>
    {% endblock %}
